.git
node_modules
**/node_modules/*
**/npm-debug.log
**/.husky
.venv
**/.next
**/.turbo
**/build
**/i18n
**/dist
**/out
**/*.log
**/.vscode
**/.env.local
**/apps/web/.env*
**/apps/api/.env*
**/apps/admin/.env*
