# Add files here to ignore them from prettier formatting

/dist
/coverage
**/.next
**/next-env.d.ts

# Docusaurus generated artifacts
**/.docusaurus
apps/docs/build
**/build/assets/**
**/search-index.json

# Generic build outputs
**/build

