# Development settings
NODE_ENV=production

CLI_VERBOSE=false

# API Configuration (e.g api.ever.works)
API_URL=http://localhost:3100

# WEB URL (e.g. app.ever.works)
WEB_URL=http://localhost:3000

# Trigger.dev configuration (optional)
TRIGGER_ENABLED=false
TRIGGER_SECRET_KEY=
TRIGGER_API_URL="https://api.trigger.dev"
TRIGGER_INTERNAL_SECRET=
# micro | small-1x | small-2x | medium-1x | medium-2x | large-1x | large-2x
TRIGGER_MACHINE=
TRIGGER_INTERNAL_API_URL=http://localhost:3100/internal/trigger
